{% extends "base.html" %}

{% block styles %}
    input#id_gift {
        margin-left: 1rem;
    }
{% endblock %}

{% block title %}Gifts{% endblock %}

{% block content %}
    <h4 class="my-4">Gifts for current user ({{ user.username }})</h4>
    <form class="d-flex align-items-center" method="post">
        {% csrf_token %}
        {{ form }}
        <button style="margin-left:1rem;" class="btn btn-primary" type="submit">Add Item</button>
    </form>

    <div class="mt-4">
        <h5>List of gifts</h5>
        {% if gifts|length != 0 %}
            <ol id="dynamic-list">
                {% for gift in gifts %}
                    <li>{{ gift.gift }}</li>
                {% endfor %}
            </ol>
        {% else %}
            No gifts for the selected user, add gifts to continue.
        {% endif %}
    </div>
{% endblock %}