{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
  <h4 class="mb-3">View gifts list of other users</h4>
  <form method="post" class="d-flex">
    {% csrf_token %}
    <div class="input-group w-auto">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Users</label>
      </div>
      <select style="width:150px;" class="custom-select" name="selected_user" id="inputGroupSelect01">
        <option disabled selected value> -- Select a user -- </option>
          {% for username in usernames %}
              <option value="{{ username.username }}">{{ username.username }}</option>
          {% endfor %}
      </select>
    </div>
    <input style="margin-left:1rem;" class="btn btn-primary" value="View Gifts" type="submit"></input>
  </form>
{% endblock %}